<form [formGroup]="cardForm" (ngSubmit)="onSubmit()">
  <app-input label="Name" [control]="cardForm.get('name')"></app-input>
  <div class="columns">
    <div class="column mt-2">
      <app-input
        label="Card Number"
        [control]="cardForm.get('cardNumber')"
      ></app-input>
    </div>
    <div class="column mt-2">
      <app-input
        label="Expiration (MM/YY)"
        [control]="cardForm.get('expiration')"
      ></app-input>
    </div>
    <div class="column mt-2">
      <app-input
        label="Security Code"
        [control]="cardForm.get('securityCode')"
      ></app-input>
    </div>
  </div>
  <button
    class="button is-primary m-2"
    type="submit"
    [disabled]="cardForm.invalid"
  >
    Submit
  </button>
  <button class="button is-warning m-2" type="submit" (click)="onResetClick()">
    Reset
  </button>
</form>
